---
//About Me
import Detras from "../assets/detras_valdo.jpg";
import Equipo from "../assets/equipo.jpg";
import Desarrollo from "../assets/desarrollo.jpg";
import Minecraft from "../assets/minecraft.png";
import Grupo from "../assets/grupo.jpg";
---

<!-- Sección sobre mí -->
<div class="w-11/12 max-w-3xl mt-10 bg-white dark:bg-gray-800 shadow-lg rounded-lg p-5 flex flex-col items-center transition-all duration-500 ease-in-out transform hover:scale-105 about-me-container">
  <h2 class="about-me-heading">Sobre Mí</h2>
  <div class="about-me-content">
    <div class="photo-gallery">
      <img src={Grupo.src} alt="Universidad" />
      <img src={Detras.src} alt="Personal" />
      <img src={Desarrollo.src} alt="Desarrollo" />
      <img src={Minecraft.src} alt="Minecraft" />
    </div> <br>
    <!-- <div class="about-me-icons">
      <i class="fas fa-laptop-code about-me-icon"></i>
      <i class="fas fa-bicycle about-me-icon"></i>
      <i class="fas fa-utensils about-me-icon"></i>
      <i class="fas fa-music about-me-icon"></i>
    </div> -->
    <div class="about-me-section">
      <p>
        ¡Hola! Soy Osvaldo Villalba, Ingeniero en Gestión y Desarrollo de
        Software egresado de la Universidad Tecnológica de Nezahualcóyotl. Mi
        pasión por el desarrollo web y móvil me ha llevado a adquirir
        experiencia en frameworks como Flask, Express y CodeIgniter, así como en
        tecnologías modernas como Astro, Firebase y MongoDB.
      </p>
    </div>
    <div class="about-me-section">
      <p>
        Me motiva enfrentar desafíos que impulsen mi aprendizaje y crecimiento
        profesional, ya sea desarrollando aplicaciones escalables, implementando
        sistemas personalizados o creando experiencias digitales únicas y
        funcionales. Actualmente, estoy perfeccionando mis habilidades en
        desarrollo móvil, explorando herramientas avanzadas y técnicas
        innovadoras para optimizar la experiencia de usuario.
      </p>
    </div>
    <div class="about-me-section">
      <p>
        Cuando no estoy programando, disfruto cocinar, salir en bicicleta y
        crear figuras de Minecraft con madera, combinando mi amor por los
        videojuegos y la creatividad manual. Además, me encanta la música rock,
        metal y folk, y creo que los detalles únicos son los que realmente
        cuentan, tanto en la vida como en el código.
      </p>
    </div>
    <div class="about-me-section">
      <p>
        Mi meta es seguir aprendiendo y crecer profesionalmente como
        desarrollador, explorando proyectos que requieran habilidades técnicas y
        creatividad. Siempre estoy abierto a colaborar y ofrecer soluciones
        personalizadas a través del software.
      </p>
    </div>
  </div>
</div>
