---
//Footer component
---

<footer class="mt-10 text-center">
  <p>
    Contacto: <a href="mailto:osvaldo@example.com" class="text-blue-500"
      >osvaldo.dev@outlook.com</a
    >
  </p>
  <br>
</footer>
