---
// PORTADA
import BannerValdo from "../assets/banner_valdo.jpg";
---

<div
  class="w-full h-48 bg-cover bg-center shadow-lg transition-all duration-500 ease-in-out transform hover:scale-105"
  style={`background-image: url(${BannerValdo.src});`}
>
  <!-- Puedes agregar texto aquí si lo deseas -->
</div>
