---
//Skills.astro
---
<div
  class="w-11/12 max-w-6xl mt-10 bg-white dark:bg-gray-800 shadow-lg rounded-lg p-5 skills-section"
>
  <h2 class="text-2xl font-bold mb-4">Habilidades</h2>
  <div class="skills-container">
    <div class="skill skill-html">HTML</div>
    <div class="skill skill-css">CSS</div>
    <div class="skill skill-javascript">JavaScript</div>
    <div class="skill skill-nodejs">Node.js</div>
    <div class="skill skill-php">PHP</div>
    <div class="skill skill-kotlin">Kotlin</div>
    <div class="skill skill-docker">Docker</div>
    <div class="skill skill-git">Git</div>
    <div class="skill skill-python">Python</div>
    <div class="skill skill-jetpack">Jetpack Compose</div>     
    <div class="skill skill-astro">Astro</div>     
    <div class="skill skill-firebase">Firebase</div>
    <div class="skill skill-express">Express</div>
    <div class="skill skill-mongodb">MongoDB</div>
    <div class="skill skill-react">React</div>
    <div class="skill skill-flask">Flask</div>
    <div class="skill skill-fastapi">FastAPI</div>
    <div class="skill skill-teamwork">Trabajo en equipo</div>
    <div class="skill skill-problemsolving">Resolución de problemas</div>
    <div class="skill skill-adaptation">Adaptación rápida a nuevas tecnologías</div>
    <!-- Añade más habilidades según sea necesario -->
  </div>
</div>
